<!DOCTYPE html>
<html>
<head>
  <title>WARHAMMER40000</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
  <audio src="static/sound.mp3" autoplay loop preload='auto'></audio>
  <h1> WARHAMMER40000</h1>

<style>body {background-image: url(static/imgs/fon.jpg);
   background-size: 100%;}</style>

<table>
  <tr>
    <td><a class='button' href="archive/">МАНУСКРИПТЫ</a></td>
    <td><a class='button' href="/article_new/">СОЗДАТЬ МАНУСКРИПТ</a></td>
    <td><a class='button' href="/accounts/signup/">ПРИСОЕДИНИТЬСЯ К БРАТСВУ</a></td>
    <td><a class='button' href="/accounts/login/">ВОЙТИ В БРАТСВО</a></td>
  </tr>
</table>

<img src='static/imgs/gerb.jpg'>
<marquee behavior="scroll" direction="right">КРОВИ КРОВАВОМУ БОГУ|  КРОВИ КРОВАВОМУ БОГУ|  КРОВИ КРОВАВОМУ БОГУ|  КРОВИ КРОВАВОМУ БОГУ|  КРОВИ КРОВАВОМУ БОГУ|  КРОВИ КРОВАВОМУ БОГУ|  КРОВИ КРОВАВОМУ БОГУ|  КРОВИ КРОВАВОМУ БОГУ|  КРОВИ КРОВАВОМУ БОГУ|</marquee>
</body>
</html>
